In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
n= input('enter a string')
s={}
for i in n:
    if i in s:
        s[i] += 1
    else:
        s[i] = 1
print(s)

enter a stringassembley
{'a': 1, 's': 2, 'e': 2, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

In [ ]:
#QUE

In [ ]:
data=[34,12,17]
data

[34, 12, 17]

In [ ]:
data=np.array([34,12,17])
data

array([34, 12, 17])

In [ ]:
data.max()

34

write a python function called exponent (base,exp) that returs an interger value of base raises to the power of exp.

In [ ]:
def exponent (base,exp):
  s=base**exp
print(s)

{'a': 1, 's': 2, 'e': 2, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

In [ ]:
base=int(input('enter a base'))
exp=int(input('enter the exponent'))
exponent(base,exp)
s=base**exp
print(s)

enter a base3
enter the exponent2
9

write a python function that takes a postive integer and returs the sum of the cubes of all the postive intergers smaller than the specified number.

In [ ]:
def positive_number(num):
    cubes = 0
    for i in range(1, num):
        cubes += i**3  # use += to accumulate the sum of cubes
    print(cubes)

In [ ]:
positive_number(5)

100

write a python program which iterates from 1 to 10....

In [ ]:
n=11
for i in range (1,n):
  if i%2==0:
    print('fizz')
  elif (i%5==0):
    print('buzz')
  elif(i%2==0 and i%5==0):
    print('fizzbuzz')
  else:
    print(i)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizz

write a python program to find the most frequent item a list of number

In [ ]:
n=[2,3,4,2,5,2]
max=0
res=n[0]
for i in n:
  freq=n.count(i)
  if freq>max:
    max=freq
    res=i
print(res)

2

write a python program to find the sum of squares of the numbers in alist

In [ ]:
n=[2,1,3,1]
res=0
for i in n:
  res= res + i**2
print(res)

15

write a python program using for the loop that will iterate from 1to 15 for each iteration, check if the current number is odd or even, and display the message to the screen as odd or even.s

In [ ]:
n=15
for i in range (1,n+1):
  if i%2==0:
    print(i,'-even')
  elif (i%3==0):
    print(i,'-odd')
  else:
    print(i)

1
2 -even
3 -odd
4 -even
5
6 -even
7
8 -even
9 -odd
10 -even
11
12 -even
13
14 -even
15 -odd

writ a python program to convert.......

In [42]:
print('optionsd are \n')
print('1.convert temperatures from celsius to fahrenheit')
print('2.convert temperatures from fahrenheit to celsius')
opt=int(input('choose any option(1 or 2)'))
if opt == 1:
   print('convert temperatures from celsius to fahrenheit')
   cel=float(input('enter temperatures in celsius'))
   fahr =(cel*9/5)+32
   print('temperature in fahrenheit')
elif opt ==2:
  print('convert temperatures from fahrenheit to celsius')
  fahr=float(input('enter temperatures in fahreheit'))
  cel=(fahr-32)*5/9
  print('temperature in celsius')
else:
  print('invalid option')

optionsd are

1.convert temperatures from celsius to fahrenheit
2.convert temperatures from fahrenheit to celsius
choose any option(1 or 2)1
convert temperatures from celsius to fahrenheit
enter temperatures in celsius35
temperature in fahrenheit

 write apython fn to calculate the factorial of a number ....

In [55]:
def factorial(num):
  factorial=1
  for i in range(1,num+1):
    if num<0:
      print('not valid')
    elif(num>1):
      factorial=factorial*i # multiply fact by i, not 1
print(factorial)# indent this line to be inside the function

<function factorial at 0x7cba7b90b130>