
python assigmentQ1

# Q1

In [ ]:
import numpy as np

In [1]:
import pandas as pd

Q1

In [2]:
radius=float(input('enter the radius'))
area=3.14*radius**2
print('area of circle is:',area)

enter the radius5
area of circle is: 78.5

Q2

In [4]:
name=input('enter the name')
rollnum=int(input('enter the roll number'))
mark=int(input('enter the marks'))
print('name:',name,'\n','rollno:',rollnum,'\n','mark:',mark)

enter the nameanisha
enter the roll number21
enter the marks78
name: anisha
 rollno: 21
 mark: 78

Q3

In [5]:
number=[12,3,47,10]
m=max(number)
print(m,'is the largest number')

47 is the largest number

Q4

In [7]:
n=[1,2,3,4,5,6,7,8,9,10]
previous_num=0
for i in range(0,len(n)):
  sum=i +previous_num
  print('current number:',i)
  print('previous number:',previous_num)
  print('sum',sum)
  previous_num=i

current number: 0
previous number: 0
sum 0
current number: 1
previous number: 0
sum 1
current number: 2
previous number: 1
sum 3
current number: 3
previous number: 2
sum 5
current number: 4
previous number: 3
sum 7
current number: 5
previous number: 4
sum 9
current number: 6
previous number: 5
sum 11
current number: 7
previous number: 6
sum 13
current number: 8
previous number: 7
sum 15
current number: 9
previous number: 8
sum 17

Q5

In [12]:
n= int(input('enter a number'))
if  n>1:
  for i in range(2,n):
    if (n%i) ==0:
      print(n,'is not a prime number')
      break
  else:
    print(n,'is a prime number')
else:
  print(n,'not a prime number')

enter a number3
3 is a prime number

q6

In [30]:
orginal_list=[10,40,30,70]
reverse_list = []
for i in range(1,len(orginal_list)):
  reverse_list.append(orginal_list[i])


print(reverse_list)

[40, 30, 70]

Q7

In [31]:
n=4
for i in range (0,n):
    for j in range (0,i,+1):
        print('*',end='')
    print('')

*
**
***

Q

In [32]:
num1=float(input('enter the first number'))
num2=float(input('enter the second number'))
num3=float(input('enter the third number'))

if (num1>num2 and num1>num3):
  print(num1,'is largest')
elif(num2>num1 and num2>num3):
  print(num2,'is largest')
else:
  print(num3,'is largest')

enter the first number67
enter the second number98
enter the third number45
98.0 is largest

Q

In [33]:
n=5
for i in range (0,n):
    for j in range (0,i+1):
        print('*',end='')
print('')

***************